<!DOCTYPE html>
<html>
<head>
    <title>DeliveryOnGo By Allianz(Saresh,Soniya and Sreedevi)</title>
    <meta id="viewport" name="viewport">
    <script type="text/javascript">
        //mobile viewport hack
        (function () {

            function apply_viewport() {
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {

                    var ww = window.screen.width;
                    var mw = 800; // min width of site
                    var ratio = ww / mw; //calculate ratio
                    var viewport_meta_tag = document.getElementById('viewport');
                    if (ww < mw) { //smaller than minimum size
                        viewport_meta_tag.setAttribute('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=no, width=' + mw);
                    }
                    else { //regular size
                        viewport_meta_tag.setAttribute('content', 'initial-scale=1.0, maximum-scale=1, minimum-scale=1.0, user-scalable=yes, width=' + ww);
                    }
                }
            }

            //ok, i need to update viewport scale if screen dimentions changed
            window.addEventListener('resize', function () {
                apply_viewport();
            });

            apply_viewport();

        }());
    </script>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="leftHalf">
        <img class="newappIcon" src="~/images/newapp-icon.png" />
        <h1>
            Welcome to the <span class="blue">ASP.NET Cloudant Web Starter</span> on Bluemix!
        </h1>
    </div>
    <div class="rightHalf">
        <div class="center">
            <header>
                <div class='title'>
                    ASP.NET Cloudant Web Starter
                </div>
            </header>
            <table id='notes' class='records'><tbody></tbody></table>
            <div id="loading">&nbsp;&nbsp;Please wait while the database is being initialized ...</div>
            <footer>
                <div class='tips'>
                    Click the Add button to add a record.
                    <button class='addBtn' onclick="addItem()" title='add record'>
                        <img src='~/images/add.png' alt='add' />
                    </button>
                </div>
            </footer>
            <script type="text/javascript" src="~/scripts/util.js"></script>
            <script type="text/javascript" src="~/scripts/index.js"></script>

        </div>
    </div>
</body>
</html>
